.custom-table-row {
  @apply flex border;
  > * {
    @apply flex-1 p-4;
  }
}
.simple-table {
  width: 100%;
  border-spacing: 0 4px;
  border-collapse: separate;
  font-size: 16px;
  tr {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
  thead {
    tr {
      background-color: #f1f0f8;
      position: relative;

      /* #F1F0F8 #9586f5 */
      th {
        padding: 16px;
        color: black;
        text-align: start;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: #9586f5;
      }
    }
  }
  tbody {
    tr {
      position: relative;
      background-color: var(--bg-green);
      td {
        padding: 16px;
        input,
        select {
          // width: 80px;
          border: 1px solid #dfe3e8;
        }
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: var(--text-green);
      }
    }
  }
}
.simple-row {
  position: relative;
  background-color: var(--bg-green);
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--text-green);
  }
  &.row-green{
    background-color: var(--bg-green);
  }
}
