/* .courses-paginaion > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  padding: 10px;
  color: #212b36;
}
.courses-paginaion .prev,
.courses-paginaion .next {
  color: #a79fb3;
}
.courses-paginaion .next:not(:disabled):hover,
.courses-paginaion .prev:not(:disabled):hover {
  border: 1px solid green;
  color: green;
} */
table td:nth-child(1) {
  width: fit-content;
  max-width: 100px;
}
.issueRow {
  > div {
    display: flex;

    flex-direction: column;
    padding: 8px;
    gap: 4px;
    > p:first-child {
      color: var(--text-green);
      font-size: 12px;
      line-height: 16px;
      @media screen and (min-width: 1024px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    > p:last-child {
      font-size: 16px;
      font-weight: 500;
      @media screen and (min-width: 1024px) {
        font-size: 20px;
      }
      
    }
    @media screen and (min-width: 1024px) {
      width: calc((100% - 100px) / 8);
      padding: 16px;
      gap: 8px;
    }
    @media screen and (min-width: 1024px) {
      height: 98px;
    }
  }
}

.row-data-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* .issueInnerDetails{
  
} */
.issueInnerDetails {
  li {
    font-weight: bold;
      
    display: flex;
    justify-content: space-between;
    gap: 24px;
    p {
      &:first-child {color: var(--text-green);
        width: 80px;
        white-space: nowrap;
      }
      &:last-child {
        flex: 1;
      }
    }
  }
}

.issueInnerDetailsWrapper {
  height: 0;
  padding: 0 !important;
}
/* "flex flex-col gap-2 [&>p:first-child]:text-xs [&>p:last-child]:font-semibold [&>p:first-child]:whitespace-nowrap [ h-full" */
