.table-paginaion > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  padding: 10px;
  color: #212b36;
}
.table-paginaion .prev,
.table-paginaion .next {
  color: #a79fb3;
}
.table-paginaion .next:not(:disabled):hover,
.table-paginaion .prev:not(:disabled):hover {
  border: 1px solid green;
  color: green;
}