@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-green: #f0f8f5;
  --icon-green: #7cb09d;
  --bg-gray: #f8f8f9;
  --hover-bg: #f8fcfc;
  /* #048D5A */
  --text-green: #048d5a;
}
