.loader-wrapper {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-wrapper .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
  opacity: 0;
  transition: opacity 0.3s;
}
.loader-wrapper .loader.active {
  opacity: 1 !important;
}
